@model OnlineShopping.Models.Sınıflar.Faturalar
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.faturaSeriNo)
    @Html.TextBoxFor(x => x.faturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.faturaSıraNo)
    @Html.TextBoxFor(x => x.faturaSıraNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.tarih)
    @Html.TextBoxFor(x => x.tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.saat)
    @Html.TextBoxFor(x => x.saat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.VergiDairesi)
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.teslimEden)
    @Html.TextBoxFor(x => x.teslimEden, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.teslimAlan)
    @Html.TextBoxFor(x => x.teslimAlan, new { @class = "form-control" })

    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>


