@using OnlineShopping.Models.Sınıflar
@model List<Urun>
@{
    ViewBag.Title = "Yeni2";
    string[] TableHeaders = new string[] {"urunAd"
        ,"marka"
        ,"stok"
        ,"alisFiyat"
        ,"satisFiyat"
        ,"kategoriID"};
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br /><br />
<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>

                    }
                    

                }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.urunAd</td>
                            <td>@Data.marka</td>
                            <td>@Data.stok</td>
                            <td>@Data.alisFiyat</td>
                            <td>@Data.satisFiyat</td>
                            <td>@Data.kategoriid</td>
                            
                            

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>