@using OnlineShopping.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table id="tbl1" class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>

    @foreach (var k in Model)
    {

        <tr>
            <td>
                @k.satisID
            </td>
            <td>
                @k.Urun.urunAd
            </td>
            <td>
                @k.Cariler.cariAd @k.Cariler.cariSoyad
            </td>
            <td>
                @k.Personel.personelAd @k.Personel.personelSoyad
            </td>
            <td>
                @k.adet
            </td>
            <td>
                @k.fiyat
            </td>

            <td>
                @k.ToplamTutar
            </td>
            <td>
                @k.tarih
            </td>
            <td><a href="/Satis/SatisGetir/@k.satisID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Satis/SatisDetay/@k.satisID" class="btn btn-success" style="width:150px">Satışlar</a></td>
        </tr>
    }
</table>
<a href="/Satis/YeniSatis" class="btn btn-info">Yeni Satış yap</a>

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
